@font-face {
    font-family: "A Gentle Touch";
/*    src: url("fonts/AGentleTouch.ttf");*/
    src:  url('../fonts/AGentleTouch.ttf') format('ttf'), url('fonts/AGentleTouch.ttf') format('ttf'), url('fonts/AGentleTouch.ttf') ;

    font-style: normal;
}
@font-face {
    font-family: "Alittle sunshine";
/*    src: url("fonts/Alittlesunshine.ttf");*/
     src:  url('../fonts/Alittlesunshine.ttf') format('ttf'), url('fonts/Alittlesunshine.ttf') format('ttf'), url('fonts/Alittlesunshine.ttf') ;
    font-style: normal;
}
@font-face {
    font-family: "New Athletic M54";
/*    src: url("/fonts/NewAthleticM54.ttf");*/
    src:  url('../fonts/NewAthleticM54.ttf') format('ttf'), url('fonts/NewAthleticM54.ttf') format('ttf'), url('fonts/NewAthleticM54.ttf') ;
    font-style: normal;
}
@font-face {
    font-family: "Walkway rounded";
/*    src: url("/fonts/Walkwayrounded.ttf");*/
     src:  url('../fonts/Walkwayrounded.ttf') format('ttf'), url('../fonts/Walkwayrounded.ttf') format('ttf'), url('../fonts/Walkwayrounded.ttf') ;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Material-Design-Icons.eot');
    src: url('../fonts/Material-Design-Icons.eot') format('embedded-opentype'), url('../fonts/Material-Design-Iconswoff2') format('woff2'), url('../fonts/Material-Design-Icons.woff') format('woff'), url('../fonts/Material-Design-Icons.ttf') format('truetype'), url('../fonts/Material-Design-Icons.svg') format('svg');
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
body{
    background-color: #00ac93;
}
html {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: #FFFBEC;
}

.pad-left-30 {
    padding-left: 30px;
}
.padding-bottom {
  padding-bottom: 10px;
}
.right {
    text-align: right;
    margin-top: 15px;
}

.selectproper {
    margin-top: 35px;
    position: relative;
}

.pleft {
    margin-left: 5px;
}

.pad-left-15 {
    padding-left: 10px;
}

.pad-left-20 {
    padding-left: 20px;
}

.mar-left-30 {
    margin-left: 30px;
}

.wid-25 {
    width: 25%;
}

.user {
    width: 42px;
    height: 42px;
    overflow: hidden;
    float: right;
    /*margin: 7px 7px 0 0;*/
}

.text-center {
    text-align: center;
}

footer.page-footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #00BCD4;
    z-index: 100;
    padding-top: 0px;
    margin-top: 0px;
}

.border {
    border-bottom: 1px solid #ddd;
}

.text-center {
    text-align: center !important;
}

.block {
    display: block;
}

.search {
    box-sizing: border-box;
    padding: 0 0 0 30px;
    height: 40px;
    margin: 7px 0 0 0;
    line-height: 30px;
    width: 100%;
}

input[type="search"] {
    /*    background-color: rgba(255, 255, 255, 0.3);*/
    border-radius: 0px;
    background-color: #fff;
    border-radius: 3px;
    padding-left: 0;
    margin-right: 25px;
}

.input-field input[type=search] {
    padding-left: 10px;
    float: right;
    border-radius: 0px;
    margin-top: -5px;
}

.card-margin {
    margin: 18px 8px 0 25px;
}

.width-100 {
    width: 100%;
}

.tab-btn {
    padding: 0 5px;
}

.flo-right {
    float: right;
}

.logout-btn {
    padding: 3px 24px 0 24px;
    height: 40px;
    background-color: #FF5252;
    margin-top: -5px;
}

.tab-btn {
    padding: 0 5px;
    line-height: 2;
    height: 25px;
}

.dash-row {
    margin-right: 10px;
    margin-top: 15px;
}

.btn {
    border-radius: 0px;
}

.middle {
    padding-top: 10px;
}

.createbuttonplacement {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    font-size: 2.4em;
}

.chisorting {
    padding: 0 10px;
}

.loader {
    background-color: #00ceb0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    text-align: Center;
    padding: 20%;
}

.margintop15 {
    margin-top: 15px;
    margin-bottom: 0px;
}

.projectname {
    color: rgb(31, 237, 247);
    font-size: -webkit-xxx-large;
    font-family: initial;
    text-align: center;
    margin-bottom: 16px;
    display: block;
}

.text-center {
    text-align: center;
}

.text-center > span {
    font-size: 38px;
    color: #fff;
}

.text-center > span.color {
    color: #f13232;
}

.createbuttonplacement {
    z-index: 1;
}

header,
main,
footer {
    padding-left: 240px;
}
.side-nav {
    width: 240px;
    background-color: #ffd61e;
}
ul.side-nav.fixed li.logo a {
    line-height: 100%;
    height: auto;
}
ul.side-nav.fixed li.logo img {
  width: 80%;
  height: auto;
}
.btn, .btn-large {
  background-color: #FFD61E !important;
  color: #00AC93;
}
ul.side-nav.fixed li a {
  line-height: 100%;
  height: auto;
  color: #3b2417;
  padding: 6px 25px;
  font-size: 16px;
}
.side-nav li:hover, .side-nav li.active {
    background-color: #3b2417;
}
.side-nav li:hover a, .side-nav li.active a {
  color:#ffd61e !important;
}
.side-nav li:hover, .side-nav li.active {
    background-color: #3b2417;
    color: #ffd61e !important;
}
.side-nav li {
    padding: 0;
}
.blue.darken-4 {
    background-color: #FFD61E;
}
.browns{
    background-color: #FFD61E;
}
.pad10 {
    margin-left: 5px;
}
.pagination li.active {
  background-color: #fffbec;
}
.side-nav li.active {
    background-color: #3b2417;
}

.side-nav li.active a {
   color: #ffd61e !important;
}

.less-pad {
    padding: 0px 10px 0 11px;
}

.img-center {
    height: 80px;
    width: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    position: relative;
}

.img-center.big {
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
}

.img-center img {
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 1.2rem;
    color: #0D47A1;
    display: block;
    padding: 1rem 1rem;
}

.hidden {
    display: none;
}

.panel-body ul#nav-mobile li a {
    padding: 10px 15px;
    color: #00AC93;
    background-color: #FFFBEC;
    border: 1px solid #F9F3DC;
    width: 100%;
    border-radius: 3px;
}
.panel-body ul#nav-mobile li + li {
  margin-top: 10px;
}
.panel-body ul#nav-mobile li a.active {
    color: #FFFBEC;
    background-color: #00AC93;
}

.chisorting {
    background-color: transparent !important;
    color: #FFD61E;
}
/*
main{
    background-color: #fffad9;
}
*/
th {
    line-height: 36px;
}

td,
th {
    padding: 10px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 0px;
}

table.responsive-table td,
table.responsive-table th {
    min-height: 57px;
    line-height: 36px;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fffbec;
    box-shadow: 0 1px 0 0 #fffbec;
}
input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    border-bottom: 1px solid #fffbec;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 0px !important;
}


/* Track */

::-webkit-scrollbar-track {
    border: 1px solid #eee;
    border-radius: 0px !important;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 0px !important;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #ccc;
    border-radius: 0px !important;
}

@media only screen and (max-width: 992px) {
    .img-center {
        height: 32px;
        width: 32px;
    }
}

.pagination li {
    vertical-align: middle;
}

.toast {
    text-transform: capitalize;
}

[type="checkbox"]+label {
    padding-left: 15px;
    margin-bottom: -9px;
}

.collection .collection-item.avatar .title {
    font-size: 16px;
    font-weight: 700;
}

.collection .collection-item.avatar p {
    margin: 0;
    color: gray;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

.getordering.collection {
    overflow: visible;
}

.ui-sortable-helper {
    border: none;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.15);
}

.filprop {
    font-size: 32px;
    padding-left: 10px;
    color: #fffbec;
}

.cf:after {
    visibility: hidden;
    display: block;
    content: " ";
    height: 0;
    clear: both;
}

.cf > a {
    float: right;
}
.blue.darken-4 {
    background-color: #FFD61E !important;
    color: #00AC93;
}
.padt{
        padding: 8px 0px;
}
.margall{
    margin-left: 18px;
    margin-top: 14px;
}

.yellow-back {
    background-color: #ffd61e;
    font-family:  'Walkway rounded';
}
.progress-bar p {
    margin: 0px;
    color: #FFFBED;
    margin-bottom: 4px;
}
.input-border {
    border: 1px solid #00AC93;
    border-radius: 4px;
    padding: 0px 18px;
}
.out-top {
    margin-top: 26px;
    border: 1px solid #00AC93;
    padding: 5px 0px;
    text-align: center;
    border-radius: 4px;
    color: #FFFBED;
}
.padtop {
    margin-top: 90px;
    margin-left: 15px;
    margin-right: 15px;
}
.text-center {
    text-align: center;
}
.blue-btn {
    background: #0784c8;
    color: #ffd61e;
}
.btn:hover,
.btn-large:hover {
    background-color: #0784C8;
}
select {
    display: none;
}
.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #00AC93;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-heading {
    padding: 0px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #FFD61E;
    border-color: #FFD61E;
}
.panel-body {
    padding: 0px 15px 0px 15px;
}
.displ {
    display: inline-block;
}
.pull-right {
    float: right;
}
.pull-right select {
    background:  #684703;
    color: #ffd61e;
    border: 1px solid #ffd61e;
    padding: 0px 13px 0px 1px;
    height: 25px;
    cursor: pointer;
    -webkit-appearance: none;
}
.pull-right select:focus {
    outline: none;
}
.matop {
    margin-top: 14px;
}
.text-p p {
    display: flex;
        line-height: 120%;
}
.text-p p span {
    text-indent: 0px;
    display: block;
    padding-left: 8px;
}
.box-tp{
        border: 1px solid #00AC93;
        cursor: pointer;
        border-radius: 3px;
}
ul.text-center.matop li {
    margin: 4px 0px 0px 0px;
}
.marbotm{
    margin-bottom: 0px;
    border-bottom: 1px solid #FFD61E;
    margin-left: -15.1px !important;
    margin-right: -15.1px !important;
}
.marzero{
    margin-bottom: 0px;

}
.p50{
    padding-top: 50px
}
p.panel-title {
    color: #3b2417;
}
.select-before:before {
    position: absolute;
    top: 169px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    color: #ffd61e;
    content: "";
    pointer-events: none;
    left: 46.7%;
}
.selects-before:before {
    position: absolute;
    top: 169px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    color: #ffd61e;
    content: "";
    pointer-events: none;
    right: 17.9%;
}
select option {
    background:  #ffd61e;
    color: #684703;
}
.pagination li.disabled a {
    color: #FFFBEC;
}
.pagination li.active a {
    color: #00AC93;
}
label {
    color: #fffbec;
}
.select-wrapper span.caret {
  color: #fffbec;
}
.select-wrapper input.select-dropdown {
    border-bottom: 1px solid #fffbec;
    color: #fffbec;
}
table.highlight>tbody>tr:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.pagination li a {
    color: #FFFBEC;
}
.lightcolor {
    background-color: #00ceb0;
    padding: 10px 15px;
    margin: 0 20px;
    position: relative;
}
li.sub-menu.logo:hover {
    background-color: inherit;
}
nav {
    color: #FFFBEC;
    background-color: transparent;
    box-shadow: none;
    height: auto;
}
.side-nav {
  box-shadow: none;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
nav .img-responsive {
  padding: 30px 30px 0;
  vertical-align: bottom;
}
.btn-clear {
    height: 36px;
    line-height: 36px;
    color: #FFFBEC;
}
.btn-clear i {
  vertical-align: middle;
}
.btn {
    box-shadow: none;
    border-radius: 5px;
    padding: 0 10px;
    text-transform: none;
}
.dropdown-content li>a, .dropdown-content li>span {
    font-size: 14px;
    color: #00AC93;
}
td+td, th+th {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

td, th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 6px 5px;
}

thead {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.spinner-layer.spinner-blue-only {
    border-color: #FFFBEC;
}
.input-field label {
    color: #fffbec;
}


/*//new css*/

.blue-btn.custm-btn p {
    text-align: center;
    line-height: 14%;
}

.blue-btn.custm-btn {
  padding: 0px 15px;
  border-radius: 4px;
  min-height: 36px;
  line-height: 36px;
  display: inline-block;
  cursor: pointer;
}
.cstm-padding{
        height: 46px !important;

    padding: 5px 2rem !important;
}
.display-inline{
    display: inline-block;
}
.left-s{
        display: inline-block;
    float: right;
}
.displ-inline{
    display: inline-block;
    padding: 0px 10px;
    font-size: 11px;
}
.pt7{
        padding-top: 7px;
}
.mt100{
    margin-top: 100px;
}
.cat-names input[type="text"] {
    border-radius: 4px;
    border: 1px solid #00AC93 !important;
    margin: 0px;
    padding: 0px 0px 0px 10px;
    box-shadow: none !important;
    background-color: #00AC93;
}
.cat-names input[type="text"]:focus {

    border-bottom: 0px;

}
.c-span{
  display: block;
padding-top: 13px;
font-size: 16px;
}
.box-left {
    border: 1px solid #00AC93;
    border-radius: 4px;
    padding: 20px 0;
}
.btn-right{
  text-align: right;
}
.btn-ch{
  background: transparent;
border: 1px solid;

}
.pl52{
  padding-right: 52px;
}
button:focus {
    outline: none;
    background-color: transparent;
    color:  #684703;
}
.p15 {
  padding-top: 15px;
}
.welcome-set{
  margin: -65px -15px 0px -15px;
  padding: 0px 0px 20px 0px;
}
.welcome {
    background: #fff1e0;
    color: #383939;
    text-align: center;
    padding: 25px 0px;
    position: relative;
}
.welcome h3{
  margin-top:0px;
}
.welcome h4{
  margin-bottom:0px;
}
.welcome:after{
  position: absolute;
      top: 100%;
      right: 50%;
      margin-top: -3px;
      width: 0;
      height: 0;
      border-top: 68px solid;
      border-right: 30px solid rgba(255, 241, 224, 0);
      border-left: 30px solid rgba(255, 241, 224, 0);
      color: #FFF1E0;
      content: "";
      pointer-events: none;
}
.welcome-img{
  text-align: center;
      padding-top: 80px;
}
.welcome-img img{

      padding-right: 90px;
}
.begin{
  text-align: center;

}
.begin a{
    margin-right: 80px;

}
.fancybox-skin {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
@media only screen and (min-width: 601px) {
  .col-padder .row .col + .col {
    margin-top: 0;
  }
}

.col-padder .row .col + .col {
  /*margin-top: 20px;*/
}
.lightcolor text {
  color: #fffbed !important;
    fill: #fffbed !important;
    text-shadow: none !important;
}
.highcharts-legend-item > text {
  color: #3b2417 !important;
    fill: #3b2417 !important;
    text-shadow: none !important;
}
.graph-color .highcharts-legend-item > text {
  color: #fffbed !important;
    fill: #fffbed !important;
    text-shadow: none !important;
}
.highcharts-tooltip text {
  color: #3b2417 !important;
    fill: #3b2417 !important;
}
.lightcolor ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fffbed;
}
.lightcolor ::-moz-placeholder { /* Firefox 19+ */
  color: #fffbed;
}
.lightcolor :-ms-input-placeholder { /* IE 10+ */
  color: #fffbed;
}
.lightcolor :-moz-placeholder { /* Firefox 18- */
  color: #fffbed;
}
.panel {
    border-color: #FFD61E;
}
.panel-heading input.select-dropdown {
    border-bottom: 1px solid #3b2417;
    color: #3b2417;
}
.panel-heading .select-wrapper span.caret {
    color: #3b2417;
}
